#navbar2 {
  // border-bottom: 1px solid black;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  padding-bottom: 0px;
  background-color: white;
}

.nav-link {
  color: grey;
}

.nav-link:hover {
  color: black;
}

.nav-underline li {
  padding-right: 25px;
}
