footer {
  height: 50px;
  padding: 0 5px;
  background-color: powderblue;
  display: flex;
  align-items: center; //Helps elements align right in the center
  justify-content: center;

  p.thankyou {
    color: White;
  }
}
