.loginBox {
  border: 1px solid Lightgray;
  border-radius: 3px;
  padding: 20px 20px;
  margin: 40px auto;
  height: auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .loginFormSubmit {
    width: 50%;
    margin: 15px;
    padding: 5px;
  }
}
