@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    margin: 0px; //Every element has margin and padding of 0 until its overridden
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

div.layout { //Our div has children, reflect this in the css

    background:red;
    min-height: 100vh; //100% view hight
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto; //1fr for the main




  nav {
      padding: 5px; //Styling for the nav bar
      background: powderblue;
      display: flex;
      gap: 10px;

      div.navItem a { //Styling for each nav item 
          color: white;
          text-decoration: none;

          &:hover {
              color: Black;
          }
      }
  }

  main { 
      padding: 20px; //Main tag, main section, holds the assesment cards
      background: white;
      
      div.assessmentContainer {
          border: 1px solid LightGray;
          border-radius: 3px;
          padding: 20px;
          //display: flex;
          //flex-wrap: wrap;

        div.card {
            padding: 10px;
            margin: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            box-shadow: 1px 1px 0px 0px rgba(70,70,70,0.3);
        }
      }
           
    }

  footer { 
      height: 50px;
      padding: 0 5px;
      background-color: powderblue;
      display: flex;
      align-items: center; //Helps elements align right in the center 
      justify-content: center;

      p.thankyou {
          color: White;
      }
  }
}