div.assessmentContainer {
    border: 1px solid LightGray;
    border-radius: 3px;
    padding: 20px;
    //display: flex;
    //flex-wrap: wrap;


}

div.card {
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 0px rgba(70,70,70,0.3);
}