.badge {
  position: absolute;
  background-color: #DC3545;
  padding: .35em 0.65em;
  font-size: .75em;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  transform: translate(-50%,-50%)!important;
}

.timeAgo {
	position: absolute;
  transform: translate(95%,-250%) !important;
  font-size: 75%;
}
